@import url('https://fonts.googleapis.com/css?family=Nunito');

$default-fonts: 'Nunito', Verdana, sans-serif;

// general
.fill-screen {
	min-width: 100%;
	min-height: 100vh;
}

.fill-half-screen {
	min-width: 100%;
	min-height: 50vh;
}